//- include 
- var datalink = "http://data.baltimoresun.com/PROJECTLINK/"
- var datalink = ""

doctype html
//if lt IE 7
	<html class="no-js lt-ie9 lt-ie8 lt-ie7">
//if IE 7
	<html class="no-js lt-ie9 lt-ie8">
//if IE 8
	<html class="no-js lt-ie9">
html(class="no-js", lang="en")
	head
		//Basic page needs
		meta(charset="utf-8")
		title
		meta(name="description", content="")
		meta(name="author", content="")

		//Mobile Specific Metas
		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
		//CSS
		link(rel="stylesheet", type="text/css", href="#{datalink}css/style.css")
		//Fonts
		link(rel="stylesheet", type="text/css", href="http://fonts.googleapis.com/css?family=Old+Standard+TT|Lato|Montserrat")

		//Facebook Stuff
		meta(property="og:title", content="")
		meta(property="og:url", content="")
		meta(property="og:image", content="")
		meta(property="og:site_name", content="The Baltimore Sun")
		meta(property="og:description", content="")
		meta(property="fb:app_id", content="310302989040998")
		//Twitter Stuff
		meta(name="twitter:card", content="summary")
		meta(name="twitter:site", content="@baltimoresun")
		meta(name="twitter:creator", content="")
		meta(name="twitter:title", content="")
		meta(name="twitter:description", content="")
		meta(name="twitter:image", content="")
		meta(name="twitter:domain", content="baltimoresun.com")

	body
		#tophat
			.group
			#logo
				a(href="http://www.baltimoresun.com")
					img(src="images/baltimore-sun-logo.png" border="0")
			.tophat-share-tools
				span.icon-facebook
				span.icon-twitter
		.container
			.inputs
				.inputBlock
					select.inputHorse(required)
						option(value="" disabled selected hidden) Choose your horse
						option(value="0") American Pharoah (4-5 odds)
						option(value="1") Dortmund (7-2 odds)
						option(value="2") Mr. Z (20-1 odds)
						option(value="3") Danzig Moon (15-1 odds)
						option(value="4") Tale of Verve (30-1 odds)
						option(value="5") Bodhisattva (20-1 odds)
						option(value="6") Divining Rod (12-1 odds)
						option(value="7") Firing Line (4-1 odds)
				.inputBlock
					span.dollarsign $
					input.inputDollars(type="number" placeholder="Enter whole number")
				.inputBlock
					input.submit(type="submit" value="Place bet!")
			.horseRace
				.horse.horse--0

				.horse.horse--1

				.horse.horse--2

				.horse.horse--3

				.horse.horse--4

				.horse.horse--5

				.horse.horse--6

				.horse.horse--7

				
		//- #leaderboard			
		//- 	include includes/ad-for-body.html
		
		//Javascript
		script(src="#{datalink}js/min/jquery-1.10.2.min.js")
		script(src="#{datalink}js/min/modernizr.js")
		script(src="#{datalink}js/app.js")
		//- script(src="#{datalink}js/min/app.min.js")

		//- include includes/omniture.html
		//- include includes/ad-for-header.html
	